services:
  postgres:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_DB: strapi
      POSTGRES_USER: strapi
      POSTGRES_PASSWORD: strapi
    volumes:
      - pgdata:/var/lib/postgresql/data

  strapi:
    build:
      context: .
      dockerfile: apps/server/Dockerfile
    restart: always
    depends_on:
      - postgres
    env_file:
      - ./apps/server/.env.production
    volumes:
      - ./volumes/strapi_data:/app/.tmp # map your SQLite db folder
      - ./volumes/strapi_uploads:/app/public/uploads
    ports:
      - "1337:1337"

  nextjs:
    build:
      context: .
      dockerfile: apps/client/Dockerfile
    restart: always
    env_file:
      - ./apps/client/.env.production
    ports:
      - "3000:3000"
    restart: unless-stopped  
    depends_on:
      - strapi
    

volumes:
  pgdata:
